.header{
    min-height: 148px !important;
}
.login-img{
    width: 20%;
}
.img-logo{
    width: 8rem;
}
.colum{
    display: inline-block !important;
}
.bg_black{
    background-color: #1a1a1a !important;
}
.nav-list{
    line-height: 148px
}
